body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #111;
}
.img-container{
    display: flex;
}
.img-container img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px;
}
.img-container img :not(:last-child){
    margin-right: 10px;
}
.img-container:hover > :not(:hover){
    opacity: 0.2;
}
p{
    color: aliceblue;
    font-size: 35px;
    justify-content: center;
}
h1{
    color: aliceblue;
}
